/.env

/frontend/node_modules/
/frontend/dist/
/internal/httpapi/ui/*
!/internal/httpapi/ui/.gitkeep
!/internal/httpapi/ui/placeholder.txt

.DS_Store
.idea/
.vscode/

*.log
*.out
.coverprofile
bin/
dist/
